<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body>
<div class="py-5 text-center text-white h-100 align-items-center d-flex"
     style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container py-5">
        <div class="row">
            <div class="mx-auto col-lg-8 col-md-10">
                <h1 class="display-3 mb-4 text-center text-uppercase text-danger">Wrong！！！</h1>
                <p class="lead mb-5">Has taken possession of my entire soul, like these sweet mornings of spring which I
                    enjoy with my whole heart. I am alone, and feel the charm of existence.</p> <a href="/index"
                                                                                                   class="btn btn-lg btn-primary mx-1">返回主页</a>
                <a class="btn btn-lg mx-1 btn-outline-primary" href="#">投诉</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="p-4 col-md-3">
                <h2 class="mb-4">Y.bear</h2>
                <p>A company for whatever you may need, from evidence preservation to protection</p>
            </div>
            <div class="p-4 col-md-3">
                <h2 class="mb-4">Mapsite</h2>
                <ul class="list-unstyled"><a href="#" class="text-dark">Home</a> <br> <a href="#" class="text-dark">Block
                    Service</a> <br> <a href="#" class="text-dark">White book</a> <br> <a href="#" class="text-dark">About</a>
                </ul>
            </div>
            <div class="p-4 col-md-3">
                <h2 class="mb-4">Contact</h2>
                <p><u><a href="#" class="text-dark">
                    <i class="fa d-inline mr-3 text-muted fa-phone"></i>+86 -&nbsp;</a>18883285384</u></p>
                <p><a href="#" class="text-dark">
                    <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>y</a>u.jack.bear@gmail.com</p>
                <p><a href="https://www.amap.com/search?query=%E9%87%8D%E9%82%AE" class="text-dark">
                    <i class="fa d-inline mr-3 fa-map-marker text-muted"></i>Chongqing University of Posts and
                    Telecommunications</a></p>
            </div>
            <div class="p-4 col-md-3">
                <h2 class="mb-4">Subscribe</h2>
                <form>
                    <fieldset class="form-group"><label for="exampleInputEmail1">Get our newsletter</label> <input
                            type="email" class="form-control" placeholder="Enter email"></fieldset>
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center">© Copyright 2018 Y.Bear- All rights reserved. </p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>