<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar6"><a class="navbar-brand text-primary d-none d-md-block"
                                                              href="http://www.cqupt.edu.cn/cqupt/index.shtml"
                                                              target="_blank">
            <i class="fa d-inline fa-lg fa-circle"></i>
            <b> CQUPT</b>
        </a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/index"><b>主页</b></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><b>白皮书</b></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><b>关于</b></a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Log in</a></li>
                <li class="nav-item"><a class="nav-link text-primary" href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5 text-center"
     style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-6 col-10 bg-white p-5">
                <h1 class="mb-4">Log in</h1>
                <form th:action="@{/authentication/form}" method="post">
                    <div class="form-group"><input type="text" class="form-control" placeholder="Enter your account"
                                                   id="form9" required="required" name="username"></div>
                    <div class="form-group mb-3"><input type="password" class="form-control" placeholder="Password"
                                                        id="form10" name="password">
                        <small class="form-text text-muted text-right">
                            <span style="color: red;" th:if="${param.error}">用户名或密码错误</span> <a href="#"> Recover
                            password</a>
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="text-center  pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-3">
                <h2 class="mb-4">Contact</h2>
                <p class="m-0">
                    <a href="tel:+246 - 542 550 5462" class="text-dark">+</a>86 18883285384</p>
                <p class="text-dark">yu.jack.bear@gmail.com</p>
            </div>
            <div class="col-md-6 p-3">
                <h2 class="mb-4">Location</h2>
                <p>
                    <a href="https://www.google.it/maps" target="blank" class="text-dark">南岸区 崇文路2号<br>重庆邮电大学&nbsp;
                        &nbsp; 400065</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <iframe width="100%" height="400"
                        src="https://maps.google.com/maps?hl=en&amp;q=重庆邮电大学&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        scrolling="no" frameborder="0"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 Y.bear - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        style=""></script>
<
script
src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity = "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin = "anonymous"
style = "" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>